body {
    margin: 0;
    padding: 0;
    font-family: 'Great Vibes', cursive;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.first-page {
    background-image: url('../assets/rose1.jpg');
}

.second-page {
    background-image: url('../assets/rose-2.jpg');
}

.video-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}